/*--------------------------------*/
/*  * HTML Elements
/*-------------------------------*/
body {
  font-family: 'Work Sans', -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #5c5c5c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tr {
  transition: border-bottom 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

tr:hover {
  border-bottom: #ff9500 solid 1px;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
}

figure {
  margin: 0;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.signup-image > img {
  max-width: 100%;
  height: auto;
}

.signup-image-link {
  font-size: 0.875rem;
  display: block;
  text-align: center;
}

/*--------------------------------*/
/*  * Classes
/*-------------------------------*/

.pad-bottom {
  padding-bottom: 60px;
}

.biryani {
  font-family: 'Biryani', sans-serif;
}

.biryani-black {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
}
.orange {
  color: #ff9500;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.bg-featured {
  background-image: url('./images/featured-mix.jpg');
}

.mix-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.play-button {
  width: 80px;
  height: 80px;
  background-image: url('./images/play-button.svg');
}

.mixcloud-link {
  width: 80px;
  height: 80px;
  background-image: url('./images/mixcloud-arrow.svg');
}

.playing .play-button {
  background-image: url('./images/pause-button.svg');
}

.archive .mixcloud-link {
  width: 40px;
  height: 40px;
}

.mixes .play-button {
  width: 48px;
  height: 48px;
}

.button {
  border: none;
  outline: none;
}

.mixes {
  padding-bottom: 5rem;
}

.mix {
  width: calc(50% - 1rem);
}

.mix:nth-of-type(even) {
  transform: translateY(4rem);
}

.nav-link {
  border-bottom: solid 3px rgba(0, 0, 0, 0);
}

.nav-link.active {
  color: #000;
  border-bottom-color: #000;
}

.mix-overlay:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.main {
  background: #f8f8f8;
  padding: 50px 0;
  font-size: 13px;
  line-height: 1.8;
}

.signup {
  margin-bottom: 50px;
}

.signup-container {
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.signup-content {
  padding: 75px 0;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}
.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.form-title {
  margin-bottom: 33px !important;
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.signup-image {
  margin: 0 55px;
}
.signup-image {
  margin-top: 45px;
}

.form-submit {
  display: inline-block;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
/*--------------------------------*/
/*  * Media Queries 
/*-------------------------------*/

@media screen and (max-width: 1200px) {
  .signup-container {
    width: calc(100% - 30px);
    max-width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .signup-container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    justify-content: center;
  }
  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .nav-link {
    font-size: 0.75rem;
  }
}
